.App {
  text-align: center;
}

.search {
  margin-top: 20px;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red { 
  color: red;
}

.lists {
  margin: 20px;
  padding: 10px;
}

.category {
  background:  #e2e0e0;
  border: 1px double black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.postHeader {
  background: #e2e0e0;
  width: 70%;
  height: 60px;
}

.postContent {
  height: 80px;
  width: 70%;
  padding-top: 20px;
}