.App {
  text-align: center;
}

.search {
  margin-top: 20px;
  margin-bottom: 40px;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postHeader {
  background: #e2e0e0;
  width: 70%;
  height: 60px;
}

.postContent {
  height: 80px;
  width: 70%;
  padding-top: 20px;
}